.item-container {
  background-color: rgb(50, 55, 60);
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 1px solid;
  border: 2px solid rgb(143, 64, 221);
  margin-top: 20px;
  padding: 20px 0px 0px 0px;
}

.item-container:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}

.item-img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-info {
  background-color: linen;
  display: grid;
  grid-template-rows: 20% 15% 15%;
}
